@media (max-width: 700px) {
  body .content {
    min-width: 320px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 30px;
  }
  body .content:nth-child(1) {
    position: relative;
    top: 0;
  }
  body .content-fit {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 20px;
  }
  body .content-setting {
    padding-top: 17px;
    padding-bottom: 7px;
    background-color: #F5F5FA;
  }
  body .head__space {
    display: flex;
    padding-top: 30px;
    margin-top: -32px;
    background-color: #FFFFFF;
  }
  body .head__contact {
    display: none;
  }
  body .head__facebook {
    display: inline-block;
    position: relative;
    top: 6px;
  }
  body .head__geo {
    margin-top: 10px;
    display: inline-block;
  }
  body .head__img {
    display: contents;
  }
  body .head__img img {
    width: 220px;
  }
  body .head__image {
    position: relative;
    top: 10px;
  }
  body .head__menu {
    display: none;
    position: relative;
    top: -57px;
  }
  body .head__menu-items {
    display: none;
  }
  body .head__menu-itemss {
    display: none;
    margin-left: auto;
    position: relative;
    top: -26px;
  }
  body .head__hum-menu {
    display: inline-block;
    position: relative;
    top: 33px;
  }
  body .head__hum-img {
    width: 22px;
  }
  body .logo__main {
    display: flex;
    position: relative;
    top: -6px;
  }
  body .logo__contacts-btn-lang {
    width: 33px;
    height: 25px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #B3B3BA;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
  }
  body .logo__contacts-btn-lang-background {
    width: 33px;
    height: 25px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    border: none;
    background: #F0145A;
    border-radius: 25%;
    cursor: pointer;
  }
  body .logo__contacts-link {
    margin-left: auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #B3B3BA;
    margin-top: 3px;
  }
  body .set {
    padding: 0 45px;
  }
  body .wrapper:nth-child(3) {
    padding-top: 21px;
  }
  body .wrapper:nth-child(4) {
    padding-top: 29px;
  }
  body .buttons__size {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -1px;
  }
  body .wraps__location {
    display: none;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  body .wraps__location-wrap {
    display: block;
  }
  body .wraps__wrap {
    width: 100%;
    border-radius: 12px 12px 0 0;
    background-color: #FFFFFF;
  }
  body .wraps__wrap:nth-child(6) {
    margin: 0;
    padding-top: 9px;
  }
  body .wraps__wrap-size {
    width: fit-content;
  }
  body .wraps__title {
    padding: 0 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #24A3FF;
  }
  body .wraps__data {
    padding: 0 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 1px;
    text-align: left;
    color: #B3B3BA;
    text-transform: uppercase;
  }
  body .wraps__text {
    padding: 0 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  body .wraps__line {
    border-bottom: solid 4px #E6E6F0;
    margin: 0 30px;
  }
  body .wraps__photo {
    border-radius: 12px 12px 0 0;
  }
  body .button__publications {
    text-align: center;
    margin: 0;
    position: unset;
    position: relative;
    top: -6px;
  }
  body .button__form {
    width: 211px;
    height: 56px;
    color: #FFFFFF;
    background-color: #24A3FF;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 12px;
    margin-top: -30px;
    margin-bottom: 60px;
    border: 0;
  }
  body .bottom-line {
    padding: 0 45px;
  }
  body .contact__info {
    text-align: center;
    width: 100%;
  }
  body .contact__geo {
    display: block;
    margin-top: 1px;
  }
  body .contact__img {
    display: block;
    margin-top: 22px;
  }
  body .contact__email {
    display: block;
    margin-top: -16px;
    margin-bottom: -16px;
  }
  body .contact__map {
    margin-top: 0;
  }
  body .contact__phone {
    margin-top: 29px;
    display: block;
  }
  body .contact__doc-upper {
    display: none;
  }
  body .contact__doc {
    display: none;
  }
  body .contact__last-text {
    position: relative;
    top: -23px;
  }
  body .contact__bottom {
    display: block;
  }
  body .contact__foot-company {
    position: relative;
    top: -19px;
  }
}

/*# sourceMappingURL=mobile.css.map */
