@media (max-width: 1078px) {
  body .wraps__location {
    display: none;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  body .wraps__location-wrap {
    display: flex;
    flex-wrap: nowrap;
  }
  body .wraps__wrap {
    width: 50%;
    background-color: #FFFFFF;
    border-radius: 12px 12px 0 0;
    margin-bottom: 30px;
  }
  body .wraps__wrap:not(:last-child) {
    margin-right: 30px;
  }
  body .wraps__wrap-size {
    width: 50%;
    margin-bottom: 30px;
    background-color: #FFFFFF;
    border-radius: 12px 12px 0 0;
  }
  body .content {
    padding: 0 45px;
    max-width: 1920px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  body .content:nth-child(1) {
    position: relative;
    top: 16px;
  }
  body .content-fit {
    margin-bottom: 14px;
  }
  body .logo__head {
    display: flex;
    position: relative;
    top: -9px;
  }
  body .logo__hum-menu {
    display: none;
    margin-left: auto;
    align-items: center;
  }
  body .heads__contact-tab {
    display: flex;
  }
  body .wrapper:nth-child(1) {
    background-color: #FFFFFF;
  }
  body .wrapper:nth-child(3) {
    background-color: #F5F5FA;
    padding: 0;
  }
  body .wrapper:nth-child(4) {
    overflow: hidden;
  }
  body .head__contact {
    position: relative;
    top: -152px;
    display: inline-block;
    margin-top: 170px;
  }
  body .head__facebook {
    display: inline-block;
    position: relative;
    top: 6px;
  }
  body .head__geo {
    margin-top: 10px;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: #B3B3BA;
  }
  body .head__img {
    position: absolute;
    top: 50px;
  }
  body .head__img img {
    width: 382px;
  }
  body .head__menu {
    display: flex;
    position: relative;
    top: -57px;
  }
  body .head__menu-items {
    display: contents;
  }
  body .head__menu-itemss {
    display: none;
    margin-left: auto;
    position: relative;
    top: -26px;
  }
  body .head__menu-item-setting {
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    color: #24A3FF;
  }
  body .head__menu-item {
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    color: #24A3FF;
  }
  body .head__btn-lang {
    width: 33px;
    height: 25px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #B3B3BA;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
  }
  body .head__btn-lang-background {
    width: 33px;
    height: 25px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    border: none;
    background: #F0145A;
    border-radius: 25%;
  }
  body .head__link {
    margin-left: auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #B3B3BA;
    margin-top: 3px;
  }
  body .head__hum-menu {
    display: none;
  }
  body .head__hover-about {
    width: 74px;
  }
  body .head__hover-services {
    margin-left: 14px;
    margin-right: 14px;
    width: 69px;
  }
  body .head__hover-team {
    margin-right: 14px;
    width: 44px;
  }
  body .head__hover-publications {
    margin-right: 14px;
    width: 104px;
  }
  body .head__hover-contact {
    margin-right: 14px;
    width: 65px;
  }
  body .logo__main {
    display: none;
  }
  body .buttons__size {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .size {
    padding-bottom: 30px;
  }
  body .button__publications {
    margin-top: 0;
    text-align: center;
  }
  body .buttons__size {
    position: relative;
    top: -8px;
  }
  body .contact__info {
    display: block;
    text-align: left;
    margin: auto;
    width: 409px;
  }
  body .contact__info > a, body .contact__info img {
    padding-right: 3px;
  }
  body .contact__geo {
    display: inline-block;
    position: relative;
    top: 4px;
  }
  body .contact__bottom {
    display: block;
    align-items: center;
    min-width: 484px;
    text-align: left;
  }
  body .contact__map {
    display: inline-block;
    position: relative;
    top: 4px;
  }
  body .contact__phone {
    display: inline-block;
    position: relative;
    top: -19px;
  }
  body .contact__email {
    display: inline-block;
    position: relative;
    top: -20px;
  }
  body .contact__company {
    top: -20px;
    position: relative;
    text-align: center;
  }
  body .contact__img {
    margin-top: 21px;
    display: inline-block;
    position: relative;
    top: -8px;
  }
  body .contact__doc {
    position: relative;
    top: -22px;
  }
  body .contact__doc-upper {
    position: relative;
    top: 2px;
  }
  body .contact__foot-company {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    color: #B3B3BA;
    position: relative;
    top: -22px;
  }
}

/*# sourceMappingURL=tab-sd.css.map */
