@media (max-width: 1157px) {
  body .wraps__location {
    display: flex;
    margin: 0 auto;
  }
  body .wraps__location-wrap {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
  }
  body .wraps__wrap {
    width: 33.333%;
    border-radius: 12px 12px 0 0;
  }
  body .wraps__wrap-size {
    width: 33.333%;
    margin: 0;
    padding-top: 9px;
    background-color: #FFFFFF;
  }
  body .wrapper:nth-child(3) {
    padding: 0;
  }
  body .wrapper:nth-child(2) {
    padding-bottom: 14px;
  }
  body .content {
    padding: 0 60px;
  }
  body .container__location-tab {
    display: none;
  }
  body .header__contacts {
    display: none;
  }
  body .logo__main {
    display: none;
  }
  body .head__contact {
    position: relative;
    top: -51px;
  }
  body .head__facebook {
    display: inline-block;
    position: relative;
    top: 6px;
  }
  body .head__geo {
    margin-top: 10px;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: #B3B3BA;
  }
  body .head__img {
    position: relative;
    top: 54px;
  }
  body .head__img img {
    width: 382px;
  }
  body .head__menu {
    position: relative;
    top: -50px;
  }
  body .head__menu-items {
    display: flex;
    margin-left: auto;
    position: relative;
    top: -18px;
  }
  body .head__menu-itemss {
    display: none;
    margin-left: auto;
    position: relative;
    top: -26px;
  }
  body .head__menu-item-setting {
    list-style: none;
    padding-right: 14px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    color: #24A3FF;
  }
  body .head__menu-item {
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    color: #24A3FF;
  }
  body .head__btn-lang {
    width: 33px;
    height: 25px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #B3B3BA;
    background-color: #F5F5FA;
    border: none;
    cursor: pointer;
  }
  body .head__btn-lang-background {
    width: 33px;
    height: 25px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #F5F5FA;
    border: none;
    background: #F0145A;
    border-radius: 25%;
  }
  body .head__link {
    margin-left: auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #B3B3BA;
    margin-top: 3px;
  }
  body .size {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  body .button__publications {
    text-align: center;
    margin-bottom: 11px;
    margin-top: 8px;
  }
  body .buttons__size {
    position: relative;
    top: -5px;
  }
  body .contact__info {
    display: unset;
  }
  body .contact__info > a, body .contact__info img {
    padding-right: 3px;
  }
  body .contact__geo {
    display: inline-block;
    position: relative;
    top: 4px;
  }
  body .contact__bottom {
    display: flex;
    justify-content: space-between;
  }
  body .contact__map {
    display: inline-block;
    position: relative;
    top: 4px;
  }
  body .contact__phone {
    display: inline-block;
    position: relative;
    top: -27px;
  }
  body .contact__email {
    display: inline-block;
    position: relative;
    top: -28px;
  }
  body .contact__company {
    text-align: right;
    position: relative;
    top: -130px;
    display: none;
  }
  body .contact__img {
    margin-top: 21px;
    display: inline-block;
    position: relative;
    top: -14px;
  }
  body .contact__doc {
    position: relative;
    top: -30px;
  }
  body .contact__doc-upper {
    position: relative;
    top: 3px;
  }
  body .contact__foot-company {
    text-align: right;
    position: relative;
    top: 20px;
  }
}

/*# sourceMappingURL=tab-hd.css.map */
