@import 'colors.scss';
@import 'styles.scss';
@import 'size.scss';
    body {
        margin: 0 auto;
        font-family: $styles;
        a {
            text-decoration: none;
        }
        img {
            max-width: 100%;
            height: auto;
        }
        .wrapper {
            &:nth-child(1) {
                background-color: $color;
            }
            &:nth-child(2) {
                background-color: $color;
            }
            &:nth-child(3) {
                background-color: $color;
                padding-bottom: 9px;
            }
            &:nth-child(4) {
                background-color: $color;
            }
            &:nth-child(5) {
                background-color: $color;
            }
            &:nth-child(6) {
                background-color: $color;
            }
        }
        .wraps {
            &__location {
                display: flex;
                margin: 0 auto;
                padding-bottom: 30px;
            }
            &__location-wrap {
                display: none;
                flex-wrap: wrap;
                justify-content: center;
            }
            &__wrap {
                width: $size1;
                background-color: $color3;
                border-radius: $size6;
                &:not(:last-child) {
                    margin-right: 30px;
                }
            }
            &__wrap-size {
                width: $size1;
                margin: 0;
                padding-top: 9px;
                background-color: $color3;
                border-radius: $size6;
            }
            &__title {
                padding: 0 30px;
                font-family: $styles;
                font-size: $size3;
                font-weight: $size5;
                line-height: $size7;
                letter-spacing: $size8;
                text-align: left;
                color: $color4;
            }
            &__data {
                padding: 0 30px;
                font-family: $styles;
                font-size: $size2;
                font-weight: $size5;
                line-height: $size9;
                letter-spacing: 1px;
                text-align: left;
                color: $color6;
                text-transform: uppercase;
            }
            &__text {
                padding: 0 30px;
                font-family: $styles;
                font-size: 14px;
                font-weight: $size4;
                line-height: 22px;
                letter-spacing: $size8;
                text-align: left;
                margin-bottom: 30px;
                padding-bottom: 30px;
            }
            &__line {
                border-bottom: solid 4px $color2;
                margin: 0 30px;
            }
            &__photo {
                border-radius: $size6;
                text-align: center;
            }
        }
        .content {
            padding: 0 100px;
            max-width: 1920px;
            margin: 0 auto;
            box-sizing: border-box;
        }
        .content-fit {
            display: block;
            padding-bottom: 48px;
            padding-top: 52px;
        }
        .logo {
            &__main {
                display: none;
            }
            &__hum-menu {
                display: none;
                margin-left: auto;
                align-items: center;
            }
        }
        .head {
            &__space {
                background-color: $color3;
            }
            &__contact {
                display: block;
                text-align: right;
                margin-top: 20px;
            }
            &__facebook {
                display: inline-block;
                position: relative;
                top: 6px;
            }
            &__geo {
                margin-top: 10px;
                display: inline-block;
                font-family: $styles;
                font-size: $size3;
                font-weight: $size4;
                line-height: $size7;
                letter-spacing: $size8;
                color: $color6;
            }
            &__img {
                position: absolute;
                top: 43px;
                img {
                    width: 445px;
                }
            }
            &__menu {
                display: flex;
            }
            &__menu-items {
                display: flex;
                margin-left: auto;
                position: relative;
                top: -18px;
            }
            &__menu-itemss {
                display: none;
                margin-left: auto;
                position: relative;
                top: -26px;
            }
            &__menu-item-setting {
                list-style: none;
                font-family: $styles;
                font-size: $size3;
                font-weight: $size5;
                line-height: $size7;
                letter-spacing: $size8;
                color: $color4;
                padding: 0;
            }
            &__menu-item {
                list-style: none;
                font-family: $styles;
                font-size: $size3;
                font-weight: $size5;
                line-height: $size7;
                letter-spacing: $size8;
                color: $color4;
            }
            &__btn-lang {
                width: 33px;
                height: 25px;
                font-weight: $size5;
                font-size: $size2;
                line-height: $size9;
                color: $color6;
                background-color: $color3;
                border: none;
                cursor: pointer;
                border-radius: 25%;
            }
            &__btn-lang-background {
                width: 33px;
                height: 25px;
                font-weight: $size5;
                font-size: $size2;
                line-height: $size9;
                color: $color3;
                border: none;
                background: $color5;
                border-radius: 25%;
                cursor: pointer;
            }
            &__link {
                margin-left: auto;
                font-weight: $size5;
                font-size: $size3;
                line-height: $size7;
                text-decoration: none;
                color: $color6;
                margin-top: 3px;
            }
            &__hum-menu {
                display: none;
            }
            &__hover-about {
                width: 74px;
            }
            &__hover-services {
                margin-left: 14px;
                margin-right: 14px;
                width: 69px;
                border-bottom: 2px solid $color3;
            }
            &__hover-team {
                margin-right: 14px;
                width: 44px;
                border-bottom: 2px solid $color3;
            }
            &__hover-publications {
                margin-right: 14px;
                width: 104px;
                border-bottom: 2px solid $color3;
            }
            &__hover-contact {
                width: 65px;
                border-bottom: 2px solid $color3;
            }
        }
        .buttons {
            &__size {
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 232px;
                height: 42px;
                border-radius: 12px;
                background-color: $color2;

            }
            &__btn-small {
                font-family: $styles;
                width: 105px;
                height: 38px;
                font-weight: $size5;
                font-size: $size3;
                border-radius: 12px;
                border: none;
                line-height: $size7;
                color: $color8;
                cursor: pointer;
                background-color: $color3;
            }
            &__btn-big {
                font-family: $styles;
                margin-left: 2px;
                width: 121px;
                height: 38px;
                font-weight: $size5;
                font-size: $size3;
                border-radius: 12px;
                border: none;
                line-height: $size7;
                color: $color8;
                cursor: pointer;
                background-color: $color2;
            }
        }
        .size {
            padding-top: 38px;
            padding-bottom: 30px;
        }
        .button {
            &__publications {
                text-align: center;
                margin-bottom: 7px;
                margin-top: 16px;
            }
            &__form {
                width: 211px;
                height: 56px;
                color: $color3;
                background-color: $color4;
                font-family: $styles;
                font-size: $size3;
                font-weight: $size5;
                line-height: $size7;
                letter-spacing: $size8;
                text-align: center;
                border-radius: 12px;
                margin-bottom: 60px;
                border: 0;
                cursor: pointer;
            }
        }
        .bottom-line {
            border-bottom: solid 3px $color2;
            max-width: 1920px;
            margin: 0 auto;
        }
        .contact {
            &__info {
                display: unset;
                & > a, img {
                    padding-right: 3px;
                }
            }
            &__geo {
                margin-top: 30px;
                font-family: $styles;
                font-size: $size3;
                font-weight: $size4;
                line-height: $size7;
                letter-spacing: $size8;
                color: $color8;
                display: inline-block;
                position: relative;
                top: 4px;
            }
            &__bottom {
                display: flex;
                justify-content: space-between;
            }
            &__map {
                margin-top: 10px;
                font-family: $styles;
                font-size: $size2;
                font-weight: $size5;
                line-height: $size9;
                letter-spacing: 1px;
                color: $color4;
                text-transform: uppercase;
                display: inline-block;
                position: relative;
                top: 4px;
            }
            &__phone {
                margin-top: 10px;
                font-family: $styles;
                font-size: $size3;
                font-weight: $size5;
                line-height: $size7;
                letter-spacing: $size8;
                color: $color7;
                display: inline-block;
                position: relative;
                top: -27px;
            }
            &__email {
                margin-top: -12px;
                font-family: $styles;
                font-size: $size3;
                font-weight: $size5;
                line-height: $size7;
                letter-spacing: $size8;
                color: $color4;
                display: inline-block;
                position: relative;
                top: -28px;
            }
            &__company {
                font-family: $styles;
                font-size: $size3;
                font-weight: $size4;
                line-height: $size7;
                letter-spacing: 0px;
                color: $color6;
                text-align: right;
                position: relative;
                top: -130px;
                display: none;
            }
            &__img {
                margin-top: 21px;
                display: inline-block; 
                position: relative;
                top: -14px;
            }
            &__doc { 
                position: relative;
                top: -30px;
            }
            &__doc-upper {
                position: relative;
                top: 3px;
            }
            &__foot-company {
                font-family: $styles;
                font-size: $size3;
                font-weight: $size4;
                line-height: $size7;
                letter-spacing: 0px;
                color: $color6;
                text-align: right;
                position: relative;
                top: 20px;
            }
        }
    }


