body {
    margin: 0 auto;
    .content {
        max-width: 320px;
        min-width: 320px;
        margin: 0 auto;
        box-sizing: border-box;
    }
    .header__contacts {
        display: flex;
        a {
            margin-left: auto;
        }
    }
    .pinned__logo {
        display: flex;
        .logo-img {
            margin-left: auto;
        }
    }
    .segmented__buttons {
        display: flex;
        justify-content: center;
    }
}
