@media (max-width:1120px) {
   
    body{
        .wraps {
            &__location {
                display: flex;
                margin: 0 auto;
            }
            &__wrap {
                width: 33.333%;
                &:not(:last-child) {
                    margin-right: 30px;
                }
            }
            &__wrap-size {
                width: 33.333%;
                margin: 0;
                padding-top: 9px;
                background-color: #FFFFFF;
            }
            &__photo {
                border-radius: 12px 12px 0 0;
                text-align: center;
            }
        }
        .content {
            padding: 0 60px;
        }
        .header {
            &__contacts {
                display: none;
            }
        }
        .logo {
            &__head {
                display: none;
            }
            &__hum-menu {
                display: none;
                margin-left: auto;
                align-items: center;
            }
        }
        .head {
            &__contact {
                width: 60%;
                text-align: right;
                position: relative;
                top: 21px;
            }
            &__facebook {
                display: inline-block;
                position: relative;
                top: 6px;
            }
            &__geo {
                margin-top: 10px;
                display: inline-block;
                font-family: 'Montserrat';
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0em;
                color: #B3B3BA;
            }
            &__img {
                width: 40%;
                display: flex;
                align-items: center;
                img {
                    width: 445px;
                }
            }
            &__menu {
                margin-left: auto;
                display: flex;
            }
            &__menu-items {
                display: none;
                margin-left: auto;
                position: relative;
                top: -18px;
            }
            &__menu-itemss {
                display: flex;
                margin-left: auto;
                position: relative;
                top: -82px;
            }
            &__menu-item-setting {
                list-style: none;
                padding-right: 14px;
                font-family: 'Montserrat';
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 0em;
                color: #24A3FF;
            }
            &__menu-item {
                list-style: none;
                font-family: 'Montserrat';
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 0em;
                color: #24A3FF;
            }
            &__btn-lang {
                width: 33px;
                height: 25px;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                color: #B3B3BA;
                background-color: #F5F5FA;
                border: none;
                cursor: pointer;
            }
            &__btn-lang-background {
                width: 33px;
                height: 25px;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                color: #FFFFFF;
                border: none;
                background: #F0145A;
                border-radius: 25%;
            }
            &__link {
                margin-left: auto;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                text-decoration: none;
                color: #B3B3BA;
                margin-top: 3px;
            }
            &__hum-menu {
                display: flex;
                margin-left: auto;
                align-items: center;
            }
        }
        .space {
            display: flex;
            padding-top: 25px;
            margin-top: -32px;
            padding-bottom: 30px;
            background-color: #FFFFFF;
        }
        .size {
            padding-top: 30px;
        }
        &:nth-child(3) {
            padding: 30px 0 19px;
        }
        .bottom-line {
            max-width: 1920px;
        }
        .contact {
            &__info {
                display: unset;
                & > a, img {
                    padding-right: 3px;
                }
            }
            &__bottom {
                margin-bottom: 15px;
            }
            &__geo {
                display: inline-block;
                position: relative;
                top: 2px;
            }
            &__map {
                display: inline-block;
                position: relative;
                top: 1px;
            }
            &__img {
                display: inline-block; 
                position: relative;
                bottom: 4px;
            }
            &__phone {
                display: inline-block;
                position: relative;
                top: -17px;
            }
            &__email {
                display: inline-block;
                position: relative;
                top: -18px;
            }
            &__company {
                text-align: right;
                position: relative;
                top: -18px;
                margin-top: -94px;
            }
            &__doc { 
                position: relative;
                top: -19px;
            }
            &__doc-upper {
                position: unset;
            }
        }
    }
}
       