@media (max-width:1011px) {
    
    body {
        .wraps {
            &__location {
                display: none;
                margin: 0 auto;
                padding-bottom: 30px;
            }
            &__wrap {
                width: 33.333%;
                background-color: #FFFFFF;
                &:not(:last-child) {
                    margin-right: 30px;
                }
            }
            &__wrap-size {
                width: 33.333%;
                margin: 0;
                padding-top: 9px;
                background-color: #FFFFFF;
            }
            &__title {
                padding: 0 30px;
                font-family: 'Montserrat';
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 0em;
                text-align: left;
                color: #24A3FF;
            }
            &__data {
                padding: 0 30px;
                font-family: 'Montserrat';
                font-size: 12px;
                font-weight: 700;
                line-height: 15px;
                letter-spacing: 1px;
                text-align: left;
                color: #B3B3BA;
                text-transform: uppercase;
            }
            &__text {
                padding: 0 30px;
                font-family: 'Montserrat';
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: 0em;
                text-align: left;
                margin-bottom: 30px;
                padding-bottom: 30px;
            }
            &__line {
                border-bottom: solid 4px #E6E6F0;
                margin: 0 30px;
            }
            &__photo {
                border-radius: 12px 12px 0 0;
                text-align: center;
            }
        }
        .container {
            &__location-tab {
                display: flex;
                margin: 0 auto;
                padding-bottom: 30px;
            }
            &__wrap-tab {
                width: 50%;
                background-color: #FFFFFF;
                border-radius: 12px 12px 0 0;
                &:not(:last-child) {
                    margin-right: 30px;
                }
            }
            &__title {
                padding: 0 30px;
                font-family: 'Montserrat';
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 0em;
                text-align: left;
                color: #24A3FF;
            }
            &__data {
                padding: 0 30px;
                font-family: 'Montserrat';
                font-size: 12px;
                font-weight: 700;
                line-height: 15px;
                letter-spacing: 1px;
                text-align: left;
                color: #B3B3BA;
                text-transform: uppercase;
            }
            &__text {
                padding: 0 30px;
                font-family: 'Montserrat';
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: 0em;
                text-align: left;
                margin-bottom: 30px;
                padding-bottom: 30px;
            }
            &__line {
                border-bottom: solid 4px #E6E6F0;
                margin: 0 30px;
            }
            &__photo {
                border-radius: 12px 12px 0 0;
                text-align: center;
            }
        }
        .content {
            padding: 0 45px;
            max-width: 1920px;
            margin: 0 auto;
            box-sizing: border-box;
            &:nth-child(1) {
                position: relative;
                top: 16px;
            }
        }
        .header {
            &__contacts {
                padding: 10px;
                display: contents;
            }
            &__contacts-link {
                margin-left: auto;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                text-decoration: none;
                color: #B3B3BA;
                margin-right: -13px;
                position: relative;
                top: 2px;
            }
            &__contacts-btn-lang {
                width: 33px;
                height: 25px;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                color: #B3B3BA;
                background-color: #ffffff;
                border: none;
                cursor: pointer;
            }
            &__contacts-btn-lang-background {
                width: 33px;
                height: 25px;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                color: #FFFFFF;
                border: none;
                background: #F0145A;
                border-radius: 25%;
            }
            &__geo {
                margin-top: 10px;
                display: inline-block;
                font-family: 'Montserrat';
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0em;
                color: #B3B3BA;
                position: relative;
                top: 2px;
            }
            &__facebook {
                display: inline-block;
                position: relative;
                top: 7px;

            }
            &__img-last {
                margin-left: 12px;
            }
        }
        .logo {
            &__head {
                display: flex;
                position: relative;
                top: -9px;
            }
            &__hum-menu {
                display: none;
                margin-left: auto;
                align-items: center;
            }
        }
        .heads {
            &__contact-tab { 
                display: flex;
            }
        }
        .wrapper {
            &:nth-child(1) {
                background-color: #FFFFFF;
            }
            &:nth-child(3) {
                background-color: #ffffff;
                padding: 0;
            }
            &:nth-child(7) {
                display: flex;
                background-color: #F5F5FA;
            }
        }
        .head {
            &__contact {
                width: 60%;
                text-align: right;
                position: relative;
                top: 14px;
                display: none;
            }
            &__facebook {
                display: inline-block;
                position: relative;
                top: 6px;
            }
            &__geo {
                margin-top: 10px;
                display: inline-block;
                font-family: 'Montserrat';
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0em;
                color: #B3B3BA;
            }
            &__img {
                width: 40%;
                display: flex;
                align-items: center;
                img {
                    width: 340px;
                }
            }
            &__menu {
                margin-left: auto;
                display: flex;
                padding: 0 0 45px;
            }
            &__menu-itemss {
                display: contents;
                margin-left: auto;
              
            }
            &__menu-item-setting {
                list-style: none;
                padding-right: 14px;
                font-family: 'Montserrat';
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 0em;
                color: #24A3FF;
            }
            &__menu-item {
                list-style: none;
                font-family: 'Montserrat';
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 0em;
                color: #24A3FF;
            }
            &__btn-lang {
                width: 33px;
                height: 25px;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                color: #B3B3BA;
                background-color: #ffffff;
                border: none;
                cursor: pointer;
            }
            &__btn-lang-background {
                width: 33px;
                height: 25px;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                color: #FFFFFF;
                border: none;
                background: #F0145A;
                border-radius: 25%;
            }
            &__link {
                margin-left: auto;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                text-decoration: none;
                color: #B3B3BA;
                margin-top: 3px;
            }
            &__hum-menu {
                display: flex;
                margin-left: auto;
                align-items: center;
            }
        }
        .space {
            display: none;
            padding-top: 25px;
            margin-top: -32px;
            padding-bottom: 30px;
            background-color: #FFFFFF;
        }
        .buttons {
            &__size {
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 232px;
                height: 42px;
                border-radius: 12px;
                background-color: #E6E6F0;
            }
            &__btn-small {
                font-family: 'Montserrat';
                width: 105px;
                height: 38px;
                font-weight: 700;
                font-size: 16px;
                border-radius: 12px;
                border: none;
                line-height: 20px;
                color: #323264;
                cursor: pointer;
                background-color: #FFFFFF;
            }
            &__btn-big {
                font-family: 'Montserrat';
                margin-left: 2px;
                width: 121px;
                height: 38px;
                font-weight: 700;
                font-size: 16px;
                border-radius: 12px;
                border: none;
                line-height: 20px;
                color: #323264;
                cursor: pointer;
                background-color: #FFFFFF;
            }
        }
        .size {
            padding: 30px 0;
            background-color: #F5F5FA;
        }
        &:nth-child(3) {
            padding: 30px 0 19px;
        }
        .button {
            &__publications {
                    margin-top: 0;
                    text-align: center;
                    position: relative;
                    top: 33px;
                    margin-bottom: 42px;
            }
            &__form {
                width: 211px;
                height: 56px;
                color: #FFFFFF;
                background-color: #24A3FF;
                font-family: 'Montserrat';
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 0em;
                text-align: center;
                border-radius: 12px;
                margin-top: -30px;
                margin-bottom: 60px;
                border: 0;
            }
        }
        .buttons {
            &__size {
                position: relative;
                top: -2px;
            }
        }
        .bottom-line {
            border-bottom: solid 3px #E6E6F0;
            max-width: 1920px;
            margin: 0 auto;
        }
        .contact {
            &__info {
                display: unset;
                & > a, img {
                    padding-right: 3px;
                }
            }
            &__geo {
                margin-top: 30px;
                font-family: 'Montserrat';
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0em;
                color: #323264;
                display: inline-block;
                position: relative;
                top: 2px;
            }
            &__bottom {
                margin-bottom: 15px;
            }
            &__map {
                margin-top: 10px;
                font-family: 'Montserrat';
                font-size: 12px;
                font-weight: 700;
                line-height: 15px;
                letter-spacing: 1px;
                color: #24A3FF;
                text-transform: uppercase;
                display: inline-block;
                position: relative;
                top: 1px;
            }
            &__phone {
                margin-top: 10px;
                font-family: 'Montserrat';
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 0em;
                color: #46466E;
                display: inline-block;
                position: relative;
                top: -27px;
            }
            &__email {
                margin-top: -12px;
                font-family: 'Montserrat';
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 0em;
                color: #24A3FF;
                display: inline-block;
                position: relative;
                top: -28px;
            }
            &__company {
                margin-top: 30px;
                font-family: 'Montserrat';
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0px;
                color: #B3B3BA;
                text-align: right;

                text-align: center;
            }
            &__img {
                margin-top: 21px;
                display: inline-block; 
                position: relative;
                top: -14px;
            }
            &__doc { 
                position: relative;
                top: -30px;
            }
            &__doc-upper {
                position: unset;
            }
        }
    }
}


